@(crimeStats: Map[String,List[(Int, Float, Option[String])]], currentOrderBy: Int, currentFilter: String)(implicit request: MessagesRequestHeader)

@import helper._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.StatsController.generate(newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) { @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"} }">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {

    @request.flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    @for((key, value) <- crimeStats) {
        <a>@key</a>
        <table class="computers zebra-striped">
            <thead>
                <tr>
                    @header(1, "Parameter")
                    @header(2, "Number")
                    @header(3, "Percentage")
                </tr>
            </thead>
            <tbody>

                @value.map {
                    case (a, b, c) => {
                        <tr>
                            <td>
                                @c
                            </td>
                            <td>
                                @a
                            </td>
                            <td>
                                @{BigDecimal(b).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble}%
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>   
    }

}
